# config file for Guacenspiel
# copy/rename to config.py and edit as necessary


# set these to the (BCM) pin numbers they're connected to
button_pins={
    'record' : 4,
    'play' : 17,
    'stop' : 27,
    'clear' : 22,
    'track_advance' : 10,
    'track1_mute' : 14,
    'track2_mute' : 15,
    'track3_mute' : 18,
    'track4_mute' : 23,
    'patch_down' : 6,
    'patch_up' : 13,
    'octave_down' : 19,
    'octave_up' : 26,
}

# minimum delay between button state toggles, in ms
button_debounce=50

# minimum delay between key state toggles, in ms
key_debounce=100

midi_device=0

# midi note offsets from octave to use for sensor input mappings.
NOTE_OFFSET = [0,2,4,5,7,9,11,12,14,16,17,19]

# sensitivity settings for touch sensors
on_threshold=64
off_threshold=32

# octave to start with
default_octave=5

# patch to start with
default_patch=0
